/*======================
STYLES SUR LE HEADER
=========================*/
header,
#hero, footer {
    background-color: #1F2937;
    height: auto;
    color: white;

}

header .ctn,#hero .ctn  {
    display: flex;
    justify-content: space-between;
margin: 0 auto; 
width: 900px;
}

.ctn .logo {
    width: auto;
    height: auto;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;

}

.ctn nav ul {
    height: 100%;
    display: flex;
    padding: 15px;
    gap: 0px 15px;
    flex-wrap: wrap;
}

ul a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

#hero .ctn {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 25px;
    justify-content: center;
}

.child-1,
.child-2 {
    width: 400px;
    height: auto;
    margin: 0 0 15px 0;

}

.child-2 figure {
    width: 100%;
    height: 200px;
    background-color: #9e9fa1;

}

img {
    width: 100%;
    height: 100%;
}

.child-1 h1 {
    width: auto;
    height: auto;
    padding: 15px 0;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900
}

.child-2 figcaption,
.child-1 p {
    color: #E5E7EB;
    font-size: 18px;
    padding: 0px 15px 15px;
    text-align: justify;
}

.child-1 a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #3882F6;
    border-radius: 5px;
    background-color: #3882F6;
    height: auto;
    width: 100px;
    color: #E5E7EB;
    text-align: center;
    font-weight: 900;
    padding: 5px;
}


#info h2 {
    width: auto;
    height: auto;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #282c23;
    text-align: center;
}

#info .ctn {
    display: flex;
    height: auto;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;

}

#info .ctn figure {
    width: 150px;
    height: 170px;

}

#info .ctn figure img {
    border: 3.5px solid #3882F6;
    border-radius: 5px;
    width: 100%;
    height: 120px;
}

#info .ctn figure figcaption {
    color: #585d6e;
    font-size: 18px;
    padding: 0px 15px 15px;
    text-align: left;
}

blockquote {
    background-color: #cfcfd1;

}

blockquote .ctn {

    margin: 0px 150px;
    color: #555d6d;
    font-size: 18px;
    font-style: italic;
    text-align: justify;
    padding: 60px 0;
}

cite {
    float: inline-end;
    padding: 2px 0  0 25px;
    font-size: 24px;
    font-weight: bold;
    color: #282c23;
}

#bottom .ctn{
    background-color: #3882F6;
    margin: 50px 90px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}
.left h2{
    color: #E5E7EB;
    width: auto;
    height: auto;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.ctn .left{
    width: 70%;
    color: #E5E7EB;

}

a#right{  display: inline-block;
    text-decoration: none;
    border: 1px solid  #E5E7EB;
    border-radius: 5px;
    background-color: #3882F6;
    height: auto;
    width: 100px;
    color: #E5E7EB;
    text-align: center;
    font-weight: 900;
    padding: 5px;
}
small{
    display: block;
    border: 1px solid white;
    text-align: center;
    padding: 20px;
}