/*==============================================================
Les élement HTML ont des styles CSS par défaut. Plus précisément,
ils ont chacun une taille de police et un espacement uniques autour d'eux. 
En utilisant la réinitialisation d'Eric Meyer, nous pouvons atténuer ces 
styles ce qui permet à chacun d'eux d'être stylisé à partir de la même base*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    font: "Roboto";
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*réinitialisation d'Eric Meyer, */


/*Réinitialisation du rôle d'affichage HTML5
 pour les anciens navigateurs
========================================*/




*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*================================
    STYLES SUR LE L'EN-TETE     */
header {
    background: #1F2937;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.header-ctn {
    width: 900px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-ctn .logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;

}

nav {
    display: flex;
    justify-content: space-between;
}

nav .n-1,
nav .n-2,
nav .n-3 {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 0 0 15px;
    text-decoration: none;
}

/*=================================*/


/*=================================
STYLE SUR LE DEUXIEME SECTION HERO*/

.hero {
    background-color: #1F2937;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .ctn {
    display: flex;
    justify-content: space-between;
    height: 250px;
    width: 900px;
    align-items: center;


}

.hero .ctn .child-1 {
    height: 100%;
    width: 300px;

}


.hero .ctn .child-1 h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;


}


.hero .ctn .child-1 p,
figcaption {
    color: #E5E7EB;
    font-size: 18px;
    margin: 5px 0 15px 0;

}


.hero .ctn .child-1 a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #3882F6;
    border-radius: 5px;
    background-color: #3882F6;
    height: 30px;
    width: 100px;
    color: #E5E7EB;
    text-align: center;
    padding: 5px;
    font-weight: 900;
}

#info {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#info .ctn {
    display: flex;
    justify-content: space-between;
    height: 250px;
    width: 900px;
    align-items: center;

}

#info h1 {
    height: 50px;
    padding: 30px 0 0;
    font-weight: 900;
    font-size: 30px;
    color: #1F2937;

}

#info figure{
    height: 100px ;
    width: 100px ;

}
#info img {
    border: 3px solid #3882F6;
    border-radius: 5px;
    height: 100px ;
    width: 100px ;

}
#info figcaption {
    color: #9e9fa1;
    font-size: 15px;

}
#citation {
    background-color: #E5E7EB;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}
#citation .ctn{

    width: 900px;
    display: flex;
    flex-direction: column;
    align-items:end
}

#citation span{
    font-weight: bold;

}
cite{
    width: 100%;
    font-style: italic;
    color: #1F2937;
    font-size: 30px;
}

#action {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#action .ctn {
    border: 1px solid #3882F6;
    border-radius: 5px;
    background-color: #3882F6;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;

}


#action h1 {
    padding: 0 0 5px;
    font-weight: 900;
    color: #F9FAF8;

}
#action p {
    color: #E5E7EB;

}
#action a{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #F9FAF8 ;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: #F9FAF8;
    text-align: center;
    padding: 5px;

}

footer {
    height: 50px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}
